---
import { client, graphqlClient } from "@lib/client.ts";
import HeaderLink from "@components/HeaderLink.astro";
import SocialMenu from "@components/SocialMenu.astro";
import { getSettings } from "@lib/settings";
import { getToolbarProps } from "@/lib/getToolbarProps.ts";
import type { MenuResult } from "@/types/menus";

const settings = await getSettings();

const query: MenuResult = await graphqlClient.query(
  `query MainMenu {
      menu(name: MAIN) {
        items {
          id
          title
          url
        }
      }
    }`,
);

const mainMenu = query.data.menu.items;
---

<header>
  <nav>
    <h2
      {...getToolbarProps({
        entity: settings,
      })}
    >
      <a href="/">{settings.sanctuarySiteTitle}</a>
    </h2>
    <div class="internal-links">
      {
        mainMenu.map((item) => {
          return <HeaderLink href={item.url}>{item.title}</HeaderLink>;
        })
      }
    </div>
    <SocialMenu />
  </nav>
</header>
<style>
  header {
    margin: 0;
    padding: 0 1em;
    background: white;
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
  }
  h2 {
    margin: 0;
    font-size: 1em;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav a {
    padding: 1em 0.5em;
    color: var(--black);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }
  nav :global(.social-links),
  nav :global(.social-links a) {
    display: flex;
    padding: 0 0.5em;
    color: var(--black);
    text-decoration: none;
  }
  @media (max-width: 720px) {
    nav :global(.social-links) {
      display: none;
    }
  }
</style>
