---
import type { NodeBasicPage } from "@/types/nodes";
import BaseHead from "@/components/BaseHead.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import { getSettings } from "@lib/settings";
import { getToolbarProps } from "@/lib/getToolbarProps.ts";

type Props = {
  node: NodeBasicPage;
};

const { node } = Astro.props;

const settings = await getSettings();
---

<html lang="en">
  <head>
    <BaseHead
      title={`${node.title} | ${settings.sanctuarySiteTitle}`}
      description={node.body.summary ? node.body.summary : ""}
    />
  </head>

  <body>
    <Header />
    <main>
      <!-- TODO - Add back toolbar props -->
      <article {...getToolbarProps({ node })}>
        <slot />
      </article>
    </main>
    <Footer />
  </body>
</html>
